@model Maize_Trade.Models.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaizeWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaizeWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaizeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaizeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Party.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SaleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
