@model IEnumerable<Maize_Trade.Models.Purchase>

@{
    ViewBag.Title = "MonthlyPurchase";
}

<h2>Monthly Purchase</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="FromDate">From Date</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line inputdate" id="FromDate" name="FromDate" type="date" value="" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="ToDate">To Date</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line inputdate" id="ToDate" name="ToDate" type="date" value="" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" style="display:none" value="Print Report" class="btn btn-default">
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaizeWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaizeRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeductionInWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Farmer.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseID)
            </td>
            <td class="dateColumn">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaizeWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaizeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeductionInWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Farmer.Name)
            </td>
        </tr>
    }

</table>


@section Scripts {
    <script type="text/javascript">
        $(".btn-default").click(function () {
            window.print();
        });
        $(".inputdate").change(function () {
            if ($("#FromDate").val().trim()) {
                var fromDate = new Date($("#FromDate").val());
                //console.log("From Date : " + fromDate);
                if ($("#ToDate").val()) {
                    var toDate = new Date($("#ToDate").val());
                    //console.log("To Date : " + toDate);
                    var itemCount = 0;
                    $(".dateColumn").each(function () {
                        if ($(this).text().trim()) {
                            var dateInCurrentRow = new Date($(this).text().trim());
                            //console.log("date in row" + dateInCurrentRow);
                            if (dateInCurrentRow >= fromDate && dateInCurrentRow <= toDate) {
                                $(this).closest("tr").show();
                                itemCount = itemCount + 1;
                            }
                            else {
                                $(this).closest("tr").hide();
                            }
                        }
                        else {
                            $(this).closest("tr").hide();
                        }

                    });
                    if (itemCount > 0) {
                        $(".btn-default").show();
                    }
                }
            }
        });
    </script>
}