@model IEnumerable<Maize_Trade.Models.Farmer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FarmerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Village)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="bodytr">
        <td>
            @Html.DisplayFor(modelItem => item.FarmerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Village)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FarmerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FarmerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FarmerID })
        </td>
    </tr>
}

</table>
<style type="text/css">
    div.pager {
        text-align: center;
        margin: 1em 0;
    }

        div.pager span {
            display: inline-block;
            width: 1.8em;
            height: 1.8em;
            line-height: 1.8;
            text-align: center;
            cursor: pointer;
            background: #216aaf;
            color: #fff;
            margin-right: 0.5em;
        }

            div.pager span.active {
                background: #e6f1fb;
                color: #216aaf;
            }
</style>
@section Scripts {
    <script type="text/javascript">
        $('table.table').each(function () {
            var currentPage = 0;
            var numPerPage = 15;
            var $table = $(this);
            $table.bind('repaginate', function () {
                //$table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
                $table.find('tr.bodytr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
            });
            $table.trigger('repaginate');
            var numRows = $table.find('tbody tr').length;
            var numPages = Math.ceil(numRows / numPerPage);
            var $pager = $('<div class="pager"></div>');
            for (var page = 0; page < numPages; page++) {
                $('<span class="page-number"></span>').text(page + 1).bind('click', {
                    newPage: page
                }, function (event) {
                    currentPage = event.data['newPage'];
                    $table.trigger('repaginate');
                    $(this).addClass('active').siblings().removeClass('active');
                }).appendTo($pager).addClass('clickable');
            }

            $pager.insertAfter($table).find('span.page-number:first').addClass('active');


        });
    </script>
}